useDynLib(Eagle)
importFrom(parallel, detectCores)
importFrom(data.table, fread)
importFrom(matrixcalc, is.positive.definite)
importFrom(shinyjs, useShinyjs)
importFrom(tcltk, tk_choose.files)
import(shiny,  shinythemes, shinyBS, stats, utils )

export(
   ReadPheno,
   ReadMarker,
   ReadMap,
   AM,
   OpenGUI,
   SummaryAM)
